
# ---- Python ----
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/

# ---- Virtualenv ----
.venv/
venv/
env/
data/
logs/
src copy/
grafana-dashboards/
tests/
src - copy/
src - copy (2)/
src copy 2/
src copy 3/
src copy 4/
src copy/
# ---- Jupyter ----
.ipynb_checkpoints/
.env
Distributed Job Recomendation System implementation project.zip
# ---- OS ----
.DS_Store
Thumbs.db

# ---- ML artifacts (optional) ----
*.pt
*.pth
*.onnx
*.pkl
*.joblib

.env
.env.*
